@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/* Общие стили */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-width: 1366px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-color: #feafc3;
}

.my-class {
  background-color: #ff0000;
}

.main-container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 98px;
  flex-grow: 1;
}

.contant-container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 98px;
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 26px;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 12px;
}

.button-red {
  min-width: 152px;
  color: #fcfcfc;
  background-color: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.slider-button {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6px 11px;
  border: 2px solid #fcfcfc;
  border-radius: 26px;
  box-sizing: border-box;
}

.slider-prev {
  transform: rotate(180deg);
}

/* Header */
.header-contant {
  padding: 24px 0;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.logo-container {
  height: 56px;
  text-decoration: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  margin: 0;
}

.nav-link {
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  padding: 8px 16px;
}

.nav-telephone {
  font-weight: 700;
  margin-right: 16px;
}

.nav-search {
  width: 32px;
  height: 32px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 11px;
  border-radius: 27px;
  margin-right: 16px;
}

.nav-enter {
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/enter-icon.svg");
  background-repeat: no-repeat;
  background-position: 17px center;
  border-radius: 30px;
  margin-right: 16px;
  padding-left: 38px;
}

.nav-shopping-cart {
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/icon-buy-header.svg");
  background-repeat: no-repeat;
  background-position: 17px center;
  border-radius: 30px;
  margin-right: 16px;
  padding-left: 38px;
}

/* main contant */
.position {
  display: flex;
  margin: 0 0 80px;
  padding: 0;
}

.promo {
  flex-direction: column;
}

.wrapper-promo {
  display: flex;
  justify-content: flex-start;
}

.promo-title {
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 136px 10px 10px 70px;
}

.pagination-promo {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.pagination-promo-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-promo-item {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: #fcfcfc;
  opacity: 0.3;
}

.pagination-promo-item:not(:last-child) {
  margin: 0 8px 0 0;
}

.active-pagination {
  opacity: 1;
}

.social-list {
  width: 104px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-item:not(:last-child) {
  margin: 0 16px 0 0;
}

.slider-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.slider-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
}

.promo-slider {
  position: relative;
}

.slider-controls {
  width: 367px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-19px);
}

.slider-list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.slider-item {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 21px 20px 26px 21px;
}

.slider-item:not(:last-child) {
  margin: 0 54px 0 0;
}

.slider-background-big::before {
  position: absolute;
  top: 106px;
  left: 20px;
  content: "";
  width: 327px;
  height: 312px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  z-index: -1;
}

.slider-background-small::before {
  position: absolute;
  top: 206px;
  left: 0;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffcbd8;
  opacity: 0.4;
}

.slider-image {
  display: block;
  margin-top: -30px;
}

.current-slide {
  width: 367px;
  min-height: 550px;
  box-sizing: border-box;
}

.main-image {
  margin-left: 40px;
}

.gift-promo {
  flex-direction: column;
}

.header-contant-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
  margin: 0 0 56px;
  padding: 0 200px;
}

.gift-contant {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 51px;
}

.gift-card-list {
  max-width: 570px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  color: #2d3440;
  background-color: #ff7799;
  border-radius: 16px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  box-sizing: border-box;
}

.gift-card-list:not(:nth-child(2n)) {
  margin-right: 30px;
}

.gift-card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.gift-card-item:not(:nth-child(2n)) {
  margin-right: 11px;
}

.gift-card-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin: 0;
  margin-bottom: 28px;
}

.gift-card-item-contant {
  margin: 0;
  margin-bottom: 28px;
}

.button-grey {
  padding: 12px 32px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.gift-card-button {
  align-self: flex-start;
}

.gift-card-image {
  width: 100%;
  object-fit: cover;
}

.gift-card-contant {
  width: 317px;
  padding: 36px 0 36px 36px;
}

.tastes-ice {
  flex-direction: column;
}

.tastes-ice-header {
  margin-bottom: 107px;
}

.tastes-ice-contant {
  display: flex;
}

.tastes-ice-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tastes-ice-item {
  max-width: 270px;
  position: relative;
  margin-bottom: 70px;
  padding: 133px 40px 24px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-sizing: border-box;
}

.tastes-ice-item:not(:nth-child(4n)) {
  margin: 0 30px 70px 0;
}

.tastes-ice-photo {
  position: absolute;
  top: -51px;
  left: 51px;
}

.tastes-ice-item-title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2d3440;
}

.tastes-ice-item-contant {
  max-width: 190px;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.buy-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.tastes-ice-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.tastes-ice-button {
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: #ff2f64;
  background-image: url("../images/icon-buy-button.svg");
  background-position: 9px 8px;

  background-repeat: no-repeat;
  background-size: 14px 14px;
}

.gllacy-shop {
  flex-direction: column;
}

.background-container {
  margin-bottom: 80px;
  padding: 24px;
  background-image: url("../images/glaccy-shop-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.gllacy-shop-contant {
  padding: 56px 39px 16px 39px;
  background-color: #ffffff;
}

.glaccy-shop-title {
  padding: 0;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantage-item {
  width: 442px;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 64px;
  position: relative;
}

.advantage-item:not(:last-child) {
  margin-right: 16px;
}

.advantage-text {
  margin: 0;
}

.ice-icon::before {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/ice-cream-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.cow-icon::before {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/cow-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.teaf-icon::before {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/teaf-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.thermometer-icon::before {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/thermometer-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.newsletter-list {
  display: flex;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
}

.newsletter-item {
  width: 570px;
  padding: 32px;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.newsletter-item:not(:last-child) {
  margin-right: 30px;
}

.newsletter-item-blog {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  text-decoration: none;
  padding-right: 235px;
  background-image: url("../images/blog-news-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-title {
  text-decoration: none;
}

.newsletter-blog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.newsletter-item-subscribe {
  padding: 6px;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-form {
  padding: 26px;
  background-color: #ffffff;
  border-radius: 16px;
}

.newsletter-item-text {
  margin: 0;
  margin-bottom: 44px;
}

.subscribe-form-email {
  width: 332px;
  margin: 0 14px 2px 0;
  padding: 14px 16px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  box-sizing: border-box;
}

.delivery {
  display: flex;
  padding: 64px;
  padding-left: 100px;
  border-radius: 16px;
  background-image: url("../images/delivery-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.delivery-inner-wrapper {
  width: 372px;
  padding-top: 103px;
  margin-right: 134px;
  box-sizing: border-box;
}

.delivery-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.delivery-form-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px;
  padding-bottom: 42px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.delivery-item-contant {
  margin: 0;
}

.delivery-form-title {
  max-width: 380px;
  margin: 0;
  padding: 0;
}

.delivery-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery-form-wrapper {
  display: grid;
  grid-template-columns: 117px 16px 287px;
  padding: 32px 0 12px 0;
}

.date-title,
.telephone-title,
.address-title {
  font-weight: 700;
  color: #2d3440;
  padding-bottom: 8px;
}

.delivery-date,
.delivery-telephone,
.delivery-address {
  margin-bottom: 20px;
}

.date-title,
.delivery-date {
  grid-column: 1 / 2;
}

.telephone-title {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.delivery-telephone {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.address-title,
.delivery-address {
  grid-column: 1 / -1;
}

.delivery-input {
  padding: 14px 16px;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  box-sizing: border-box;
}


.about {
  display: flex;
  justify-content: flex-start;
  padding: 64px;
  border-radius: 16px;
  background-image: url("../images/about-shop-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-shop {
  width: 343px;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 42px;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
}

.about-title {
  margin-bottom: 12px;
}

.about-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.about-subtitle-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
  margin: 0;
  margin-bottom: 8px;
}

.footer-flex {
  justify-content: space-between;
  padding: 48px 0;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.information-list {
  display: grid;
  gap: 8px 20px;
  grid-template-columns: 130px 200px;
}

.information-item {
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

.information__link {
  color: inherit;
  text-decoration: none;
}

.favorite-item {
  font-weight: 700;
}

.favorite-item::before {
  width: 14px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: -24px;
  background-image: url("../images/black-heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-logo {
  display: block;
  text-decoration: none;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

.about-logo {
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

.footer-text-logo {
  color: #2d3440;
  text-decoration: none;
  position: relative;
}

.footer-text-logo::after {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #000000;
  content: "";
}
